@import '../../styles/index';

.outlinedButtonStyle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $gray-900;
  background: $white;
  border: 1px solid $gray-300;
  cursor: pointer;

  &:disabled {
    color: $white;
    background: $gray-300;
  }

  &:not(:disabled) {
    &:hover {
      color: $gray-900;
      background: $gray-100;
    }

    &:active {
      background: $white;
      border: 1px solid $gray-500;
    }
  }

  .buttonTitle {
    font-style: normal;
    text-align: center;
  }
}

.extraLarge {
  @extend .outlinedButtonStyle;
  @include rounded-xl;

  padding: 0.8rem 1rem;

  .buttonTitle {
    @include text-lg;
    @include font-bold;

    width: 10rem;
  }
}

.large {
  @extend .outlinedButtonStyle;
  @include rounded-sm;

  gap: 0.6rem;
  padding: 0.5rem 1rem;

  .buttonTitle {
    @include text-base;
    @include font-normal;

    // width: 5.6rem;
  }
}

.medium {
  @extend .outlinedButtonStyle;
  @include rounded-sm;

  gap: 0.2rem;
  padding: 0.3rem 1rem;

  .buttonTitle {
    @include text-base;

    // width: 5.6rem;
    font-weight: 500;
  }
}

.small {
  @extend .outlinedButtonStyle;
  @include rounded-sm;

  gap: 0.2rem;
  padding: 0.3rem 1rem;

  .emojiIcon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .buttonTitle {
    @include text-xs;
    @include font-normal;

    // width: 5.6rem;
  }
}
