@import '../../styles/index';

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $gray-300;
  background: $white;
  color: $gray-900;

  &:disabled {
    background: $gray-300;
    color: $white;
  }

  &:hover {
    background: $gray-100;
    color: $gray-900;
  }

  &:active {
    background: $white;
    border: 1px solid $gray-500;
  }

  .buttonTitle {
    text-align: center;
    font-style: normal;
  }
}

.outlined56 {
  @include rounded-xl;
  padding: 14px 16px;

  .buttonTitle {
    @include text-lg;
    width: 160px;
    font-weight: 700;
    letter-spacing: -0.18px;
  }
}

.outlined40 {
  @include rounded-sm;
  padding: 8px 16px;
  gap: 10px;

  .buttonTitle {
    @include text-base;
    width: 90px;
    font-weight: 400;
    letter-spacing: -0.16px;
  }
}

.outlined36 {
  @include rounded-sm;
  padding: 6px 16px;
  gap: 4px;

  .buttonTitle {
    @include text-base;
    width: 90px;
    font-weight: 500;
  }
}

.outlined28 {
  @include rounded-sm;
  padding: 2px 16px;
  gap: 4px;

  .emojiIcon {
    width: 20px;
    height: 20px;
  }

  .buttonTitle {
    @include text-xs;
    width: 90px;
    font-weight: 400;
    letter-spacing: -0.07px;
  }
}

.deleted {
  @include rounded-sm;
  padding: 6px;
}
