.layout {
  width: 16rem;
  height: 3rem;
}
.layout button {
  font-size: 16px;
  line-height: 26px;
  width: 50%;
  height: 100%;
  color: #181818;
  text-align: center;
  border: none;
  border-radius: 6px;
}
.layout .selected {
  color: #861dee;
  background: #fff;
  border: 2px solid #9935ff;
  font-weight: 700;
}