@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.cardArea {
  width: 100%;
  background: $orange-200;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.cardBox {
  width: 75.2rem;
  margin: 7rem 8rem 10rem 8rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 24rem;
  height: 17.5rem;
  justify-content: center;
  align-items: center;

  background: $white;
  @include rounded-2xl;
  @include shadow;
}
