@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 24rem;
  height: 17.5rem;
  background: $white;
  cursor: pointer;

  @include rounded-2xl;
  @include shadow;
}

.selected {
  opacity: 0.6;
}

.header {
  display: flex;
  gap: 0.8rem;
  width: 100%;
  padding: 1.75rem 1.5rem 0;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  align-items: flex-start;
  color: $black;
  width: 13rem;
  white-space: wrap;

  @include text-xl;
}

.name {
  width: 13rem;
  overflow-wrap: break-word;
  @include font-bold;
}

.from {
  @include font-normal;
}

.deleteButton {
  min-width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  border: 1px solid $gray-300;
  background: $white;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.deleteButton:hover {
  background-color: $gray-100;
}

.divider {
  width: 21rem;
  height: 0.0625rem;
  background: $gray-200;
}

.content {
  width: 100%;
  padding: 0 1rem;
  color: $gray-600;
  word-wrap: break-word;
  overflow: auto;

  @include text-lg;
}

.createdAt {
  width: 100%;
  padding: 0 1rem 1rem;
  margin-top: auto;
  color: $gray-400;

  @include text-2xs;
}
