@import '../../../../styles/index';
@import '../../../../styles/media';

.cardArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 3rem 0;

  .editButtonArea {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    padding: 0 2rem;

    .back {
      @include text-xl;

      display: flex;
      align-items: center;
      color: $white;
      text-decoration: none;
      text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    }

    @include media(tablet) {
      width: 100%;
      padding: 0 3rem;
    }
  }
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  width: 75rem;
  padding: 1rem;

  @include media(pc) {
    gap: 1rem;
    padding: 1rem 2rem 2rem;
  }

  @include media(tablet) {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    width: 100%;
    padding: 1rem 3rem 3rem;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 17.5rem;
  background: $white;

  @include rounded-2xl;
  @include shadow;
}
