@import '../../styles/media';
@import '../../styles/index';

.profileImage,
.profileNoneImage {
  background-color: $gray-300;

  @include rounded-full;

  // 사이즈 관리
  &.large {
    width: 5rem;
    height: 5rem;
  }

  &.medium {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.4rem;
    border: 0;
    border-radius: 10rem;
  }

  &.small {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1rem;
    border: 0.15rem solid $white;
  }

  &.xSmall {
    width: 1.75rem;
    height: 1.75rem;
    border: 0.15rem solid $white;
  }

  &.medium-small {
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    border-radius: 10rem;

    @include media(mobile) {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}

.profileNoneImage {
  grid-area: img;
  width: 1.75rem;
  padding: 0.4rem;
  background-color: $gray-300;
  background-size: cover;
}
