@import '../../../../styles/index';
@import '../../../../styles/meida';

.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

@include media(mobile) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
