@import '../../styles/index';

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  width: 32rem;
  background: rgba(0, 0, 0, 0.8);
  @include rounded-lg;
}

.titleBox {
  display: flex;
  gap: 1rem;
}

.text {
  color: $white;
  @include text-base;
}
