@import '../../../../styles/index';

.layout {
  position: relative;
  width: 10rem;
  height: 10rem;
  @include rounded-xl;
}

.selected::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  background-image: url('./enabled.svg');
  background-size: contain;
}

.beige {
  background: $orange-200;
}

.purple {
  background: $purple-200;
}

.green {
  background: $green-200;
}

.blue {
  background: $blue-200;
}
