@import '../../../styles/index';

.layout {
  width: 45rem;
  margin-top: 2rem;
}

.backgroundBox,
.titleBox,
.formBox {
  display: flex;
  flex-direction: column;
}

.formBox {
  gap: 2rem;
}

.toggleButtonBox,
.cardListBox {
  margin: 1.4rem 0;
}

.toggleButtonBox {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.title {
  margin: 0.8rem 0;

  @include text-2xl;
  @include font-bold;
}

.description {
  @include text-sm;
}

.uploadImageButton {
  padding: 1rem;
  color: white;
  background: $purple-400;
  border: none;

  @include rounded-2xl;
  @include font-bold;
}

@media screen and (max-width: $mobile-width) {
  .layout {
    width: 100%;
    padding: 1rem;
  }
}
