@import '../../styles/index';

.headerArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid $gray-200;
}

.headerContents {
  display: flex;
  justify-content: space-between;
  width: 62.8%;
  height: 2.5rem;
}

.logoArea {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 6.6rem;
  height: 1.9rem;
}

.logo {
  width: 1.7rem;
  height: 1.7rem;
}

.logoText {
  font-family: Poppins;
  color: $gray-800;
  text-align: center;
  letter-spacing: 0;

  @include text-xl;
  @include font-bold;
}

.noneUnder {
  text-decoration: none;
}
