@import '../../styles/index';
@import '../../styles/media';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  padding: 1.5rem;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.title {
  @include text-3xl;
}

.buttonBox {
  width: 17.5rem;
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

@include media(tablet) {
  .box {
    padding: 1.5rem 0;
  }

  .title {
    padding: 0 1.5rem;
  }

  .buttonBox {
    width: 100%;
    padding: 0 1.5rem;
  }
}
