.layout {
  position: relative;
}

.carousel {
  overflow: hidden;
}

.slides {
  display: flex;
  gap: 1rem;
  transition: transform 0.5s ease;
}

.item {
  flex: 0 0 calc(25% - 1rem);
}

.leftButton,
.rightButton {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.leftButton {
  left: -0.8rem;
}

.rightButton {
  right: -0.8rem;
}
