@import '../../styles/index';
@import '../../styles/media';

.layout {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 75rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.titleBox {
  display: flex;
  flex-direction: column;
}

.title {
  margin-right: auto;
  @include text-3xl;
  margin-bottom: 0.6rem;
}

.keyword {
  @include font-bold;
}

.button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  background-color: $purple-400;
  width: 8rem;
  color: $white;
  padding: 0.5rem 1rem;
  @include text-lg;
  @include rounded-2xl;

  &:hover {
    animation: move 2s infinite ease-in-out;
  }

  @keyframes move {
    0% {}

    50% {
      transform: rotate(180deg);
      scale: 1.3;
    }
  }
}

.null {
  display: flex;
  overflow: hidden;
  @include rounded-3xl;

  position: relative;
  animation: fade 4s ease;

  @keyframes fade {
    0% {
      transform: translate(10rem, -10rem);
      scale: 0;
    }

    25% {
      transform: translate(-10rem, 10rem);
    }

    50% {
      rotate: 180deg;
      transform: translate(-10rem, 10rem);
    }

    70% {
      transform: translate(10rem, -10rem);
    }

    100% {
      rotate: 360deg;
    }
  }

  p {
    text-align: center;
    position: absolute;
    width: 100%;
    white-space: nowrap;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    z-index: 1;
    color: white;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gray-200;
    opacity: 0.2;
  }
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@include media(tablet) {
  .box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media(mobile) {
  .null {
    img {
      width: 22rem;
    }

    p {
      font-size: 2.5rem;
      top: 2rem;
    }
  }
}
