@import '../../../../styles/index';
@import '../../../../styles/media';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  background: $gray-200;
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 1rem;
  width: 75rem;

  @include media(pc) {
    padding: 1rem 2rem 2rem 2rem;
    gap: 1rem;
  }

  @include media(tablet) {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    padding: 1rem 3rem 3rem 3rem;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 17.5rem;
  background: $white;

  @include rounded-2xl;
  @include shadow;
}

.plus {
  height: 3.5rem;
  width: 3.5rem;
  background: $gray-200;
  border-radius: 50%;
}
