@import '../../../styles/index';

.box {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.title {
  color: $gray-900;
  @include text-2xl;
  @include font-bold;
}

.profileImage {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.defaultImage {
  width: 5rem;
  height: 5rem;
}

.profileBox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.selectProfile {
  color: $gray-500;

  @include text-base;
  @include font-normal;
}

.imageList {
  display: flex;
  gap: 0.3rem;
}
