@import '../../../styles/index';

.box {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.title {
  color: $gray-900;
  @include text-2xl;
  @include font-bold;
}

/*NOTE - 임시로 사용 */
.textArea {
  width: 100%;
  height: 16.3rem;
  border: 1px solid $black;
}
