@import '../../../../styles/index';

.barArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
  padding: 1.5rem;
}

.name {
  text-align: left;
  white-space: nowrap;
  @include text-3xl;
}

.barContents {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.toastBox {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}
