@import '../../../../styles/index';

.barArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 6rem;
}

.name {
  text-align: left;
  white-space: nowrap;
  @include text-3xl;
}

.barContents {
  position: relative;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.shareLayout {
  position: relative;
}

.toastBox {
  position: absolute;
  right: 0;
  transform: translate(25%, 25%);
}
