@import '../../../../styles/index';
@import '../../../../styles/media';

.barArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
  padding: 1.5rem;
  border: 1px solid black;

  @include media(mobile) {
    justify-content: center;
  }
}

.name {
  text-align: left;
  white-space: nowrap;
  @include text-3xl;
  @include media(mobile) {
    display: none;
  }
}

.barContents {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  border: 1px solid black;
}

.writingCount {
  @include media(tablet) {
    display: none;
  }
}

.toastBox {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}
